*{
    margin: 0%;
    text-align: center;
    font-size: border-box;
    font-family: sans-serif;
}
body{
    color: rgb(211, 241, 17);
    background-color: rgb(17, 94, 126);
}
h2{
    color: rgb(241, 237, 237);
}
h1{
    color: rgb(255, 251, 138);
}
h3{
    color: white;
}
p{
    color: #000000;
    text-decoration: none;
}
/* .container-section */
.container-section{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.container{
    border: 2px solid black;
    height: 300px;
    width: 20%;
    background-color: rgb(1, 21, 21);

}
.container-img{
    height: 10px;
    padding: 10px;
}
    
button{
    color: rgb(82, 42, 63);
    border: 2.5PX solid rgb(54, 39, 39);
    border-radius: 5%;
    padding: 4px 8px;
}
/* .container-count */
.container-count{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.count{
    border:2px solid black;
    height: 580px;
    width: 40%;
    background-color: rgb(1, 21, 21);
}
.count-img{
    padding: 10px;

}

.video-section{
    display: flex;
    justify-content: space-evenly;
}

.videol{
    width: 33%;
}

.newbox{
    border: 2px solid white;
}
.box{
    height: 150px;
}
.footer-section{
    background: #5b4545;
    padding: 2.5px;
    color: aqua;
}

/* box setup */

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.card{
    width: 325px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width:100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-container .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.bttn{
   background-color: rgb(17, 94, 126);
   width: 50%;
   margin: 0 auto;
}
 .bttn .btn{
    text-align: center;
    padding: 8px 16px;
    background-color: #15271b;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #847777;
}
